@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.font {
  font-family: "Open Sans", sans-serif;
}
.btnHover:hover {
  background-color: steelblue;
  color: white;
}
.modalStyle {
  max-width: 500px;
  width: 100%;
}
